.container {
    display: flex;
    background-color: rgb(163, 167, 166);
    color: white;
    justify-content: space-around;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  .cart {
    display: flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
       
  }
  